<p id="notice"><%= notice %></p>


<p>
  <strong>Condition:</strong>
  <%= @drug.condition %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @drug.subcategory %>
</p>

<p>
  <strong>Drug:</strong>
  <%= @drug.drug %>
</p>



<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
