<!DOCTYPE html>
<html>
  <head>
    <title>Enhanced Care Program</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= form_tag(drugs_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Drugs" %>
    <%= submit_tag "Search" %>
      <% end %>

      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       

       <%= link_to "Sign Up", new_user_registration_path %>

       <br>
       <%= link_to "Sign In", new_user_session_path %>

       <br>

       <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <% else %>

            <br>
            <%= link_to "Log In", new_user_session_path %>
            <% end %>



    
  

  <%= yield %>
  </body>
</html>




